<div class="edit">
  {{text-editor changeset=(changeset model DockerComposeValidations) allowDelete=true allowDownload=true  goToIndexView=(action 'goToIndexView') delete=(action 'delete')}}
  {{container-manager}}
</div>
