<div class="new">
  {{text-editor changeset=(changeset model DockerComposeValidations) goToIndexView=(action 'goToIndexView') newFile=true}}
  {{#md-card-collapsible }}
    {{container-manager}}
  {{/md-card-collapsible }}
</div>
