{{#md-collapsible title="Related stacks" icon='dns' }}
  <div class="related-stacks">
    <label>List of stacks related to <strong>{{model.title}}</strong> docker-compose file. Click on one to open it in the Swarm UI.</label>

    <div class="stack-list">
      {{#md-collection content=model.relatedStacks as |stack index|}}
        {{link-to-external stack.title 'swarmUiList' (query-params relatedStack=stack.id) class='collection-item' tagName='a'}}
      {{/md-collection}}
    </div>
  </div>
{{/md-collapsible }}
